<!DOCTYPE html>
<html>
<head>
  <title>Gift Exchange</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= csrf_meta_tags %>
</head>
<header class="navbar navbar-inverse navbar-fixed-top bs-docs-nav" role="banner">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="#" class="navbar-brand">CousinGiftExchange</a>
    </div>
    <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
      <ul class="nav navbar-nav">
        <li>
          <a href="../edit">Edit Form</a>
        </li>
        <li>
          <a href="../whose-in">Whose In</a>
        </li>
        <li>
          <a href="../drawing">Drawing Results</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="../about">About</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
<body>

<%= yield %>

<div class="foot-fixed-bottom">
  <p>© Cousin Gift Exchange<p>
</div>

</body>

</html>
