<center><h1>Everyone participating so far:<h1></center>
<hr>


<h3>Attending:</h3>
<ol>
<% @accepted.each do |attendee| %>
  <li><%= attendee.first_name %></li>
  <ul>
    <li><%= attendee.interests %></li>
  </ul>

<% end %>
</ol>

<h3>Not Responded:</h3>
<ol>
<% @not_responded.each do |non_respondee| %>
  <li><%= non_respondee.first_name %></li>
<% end %>
</ol>


<h3>Declined:</h3>
<ol>
<% @declined.each do |non_attendee| %>
  <li><%= non_attendee.first_name %></li>
<% end %>
</ol>